* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ropa Sans', sans-serif;
}


/* HEADER */

header{
    display: flex;
    justify-content: space-between;
    padding: 16px 15%;
    margin: 0 auto;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

header .logo-wrapper{
    display: flex;
    width: 15%;
}

header .logo-wrapper a img{
    width: 86px;
}

header button {
    background-color: white;
    border: none;
    cursor: pointer;
}

header .logo-wrapper .text {
    margin-left: 10px;
    color: #aaaaaa;
    font-size: 15px;
    line-height: 15.72px;
}

header button img{
    width: 28px;
    height: 28px;
}


