* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ropa Sans', sans-serif;
}


/* HEADER */

header{
    display: flex;
    justify-content: space-between;
    padding: 16px 15%;
    margin: 0 auto;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

header .logo-wrapper{
    display: flex;
    width: 15%;
}

header .logo-wrapper a img{
    width: 86px;
}

header button {
    background-color: white;
    border: none;
    cursor: pointer;
}

header .logo-wrapper .text {
    margin-left: 10px;
    color: #aaaaaa;
    font-size: 15px;
    line-height: 15.72px;
}

header button img{
    width: 28px;
    height: 28px;
}

main{
    width: 70%;
    margin: 0 auto;
}

/* SLIDER */

.slider{
    position: relative;
    width: 100%;
    height: 650px;
    margin-top: 20px;
    overflow: hidden;
    margin-bottom:80px;
}

.slider > img{
    width: 100%;
}

.slider span{
    position: absolute;
    top: 50%;
    width: 64px;
    height: 64px;
    background-color:rgba(141, 141, 141, 0.62);
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: translateY(-50%);
}

.slider span:hover{
    background-color:rgba(141, 141, 141, 1);
}

.slider .flecha-esquerda{
    left: 60px;
}

.slider .flecha-direita{
    right: 60px;
}

/* CARDS */

section.vitrine{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
}

.card{
    width: 50%;
    background-color: #EEEEEE;
    font-family: 'Ropa Sans', sans-serif;
}

.card .img-container{
    width: 100%;
}

.card .img-container img{
    width: 100%;
}

.card .informacao-container{
    padding: 0 13px 20px;

}

.card .informacao-container .resumo{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    margin-top: 15px;
    color: #888;
    margin-bottom: 20px;
}

.card .informacao-container .resumo p{
    font-size: 2.5rem;
}

.card .informacao-container .resumo span{
    display: block;
    text-align: center;
    border-radius: 50px;
    color: #fff;
    padding: 5px 20px;
}

.card .informacao-container .resumo .new{
    background-color: #51D275;
}

.card .informacao-container .resumo .sale{
    background-color: #DC9730;
}

.card .informacao-container > p{
    color: #555; 
    text-align: justify;
    line-height: 1.2rem;
}
